.map-chart {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  @include user-select(none);

  .svg {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .map > .segment {
    cursor: pointer;
    fill-opacity: 0.75;

    &:hover {
      fill-opacity: 1;
    }
  }

  .info {
    will-change: opacity;
    transition: opacity 0.5s ease;

    .info-title,
    .info-subtitle {
      fill: #333;
      stroke: #333;
    }
    .info-title {
      font-size: 35px;
    }
    .info-subtitle {
      font-size: 20px;
    }
  }
}
