<md-content>
  <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
    <div flex-xs flex-gt-xs="95" layout="column">
      <span class="no-select">Information Visualization 2016, Universiteit van Amsterdam</span>
    </div>
    <div flex-xs flex-gt-xs="5" layout="column">
      <md-button class="md-icon-button md-warn"
        aria-label="More"
        target="_blank"
        ng-href="https://github.com/InfoVis2016/GeenPeilMonitor">
        <md-icon class="material-icons">&#xE86F;</md-icon>
      </md-button>
    </div>
  </section>
</md-content>
