.main {
  text-align: center;
  h1 {
    font-size: 45px;
    line-height: 50px;
  }
  h2 {
  	font-size: 30px;
  	line-height: 40px;
  }
  .spacer {
    display: block;
    height: 1000px;
  }
  ul {
  	list-style-type: none;
  }

  .landing {
    position: absolute;
    width: 100vw;
    text-align: center;
    z-index: 1;

    .tip {
      margin-top: 150px;
    }
  }
}
