.main {
  text-align: center;
  h1 {
    font-size: 45px;
    line-height: 50px;
  }
  h2 {
  	font-size: 30px;
  	line-height: 40px;
  }
  .spacer {
    display: block;
    height: 1000px;
  }
  ul {
  	list-style-type: none;
  }

  .landing {
    position: absolute;
    width: 100vw;
    text-align: center;
    z-index: 0;

    .tip {
      margin-top: 150px;
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
    }
  }

  .stage {
    position: fixed;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    img {
      position: absolute;
      left: 0;
      bottom: -400px;
    }
  }

  .podium {
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: 2;
    img {
      position: absolute;
      left: 260px;
      top: -1000px;
    }
  }

  .speaker {
    position: fixed;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    img {
      position: absolute;
      left: 308px;
      bottom: 0;
    }
  }

  .curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
    }
  }


}
